# .NET Core - Backend
## A streamlined .gitignore for modern .NET projects
## Get latest from https://github.com/github/gitignore/blob/main/Dotnet.gitignore
*.swp
*.user
*.userosscache
*.sln.docstates
.vscode/
.vs/

# Environment variables & sensitive information
.env
.env.*
!.env.template
.history/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln.iml
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Local configuration
appsettings.Development.json
appsettings.local.json

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml
># React/Node.js - Frontend
# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# Testing
coverage/

# Production
/frontend/build/
/frontend/dist/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.settings
.fake